* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.contenedor_grid {
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "uno uno dos dos"
    "tres tres cuatro cuatro"
    "cinco cinco cinco cinco";
}
.contenedor_grid div {
    border: 2px solid black;
    font-size: 30px;
}
.elemento-1 {
    background-color: crimson;
    grid-area: uno;
}
.elemento-2 {
    background-color: peru;
    grid-area: dos;
}
.elemento-3 {
    background: darkgoldenrod;
    grid-area: tres;
}
.elemento-4 {
    background: chocolate;
    grid-area: cuatro;
}
.elemento-5 {
    background: lightskyblue;
    grid-area: cinco;
}

@media (max-width: 400px) {
.contenedor_grid{
    grid-template-areas: 
    "uno"
    "dos" 
    "tres" 
    "cuatro";
    }
}