*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: lightsteelblue;
}

nav{
    width: 100vw;
    height: 10vh;
    background : linear-gradient(grey, lightsteelblue);
    margin: auto;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
li{
    font-size: 2.5vh;
    color: whitesmoke;
    margin-top: 30px; /*Espaciado del menu*/
}

header{
    height: 50vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    position: absolute;
    width: 100%;
    bottom: 0;
}

/*Fotos*/
#cocinera{
    width: 10%;
    right: 0;
    bottom: 0; /*El boton es para que se mantendga pegado a la parte de abajo*/
    transition: bottom right .2s ease-in-out;
}
#doro{
    width: 10%;
    right: 8%;
    bottom: 0;
    transition: right .2s ease-in-out; 
}
#legiana{
    width: 50%;
    left: 8%;
    bottom: 30%;
    transform: scaleX(-1); /*Invierte la Imagen*/
    transition: top left .2s ease-in-out;
}

.titulo{
    color: black;
    font-size: 10vh;
    position: absolute;
    top: 25%;
    right: 0;
    transform: translateY("-50%"); /*Sirve para centrar*/
    z-index: 100;
    margin: 2vh;
    text-shadow: 5px 0px 0px grey;
    transition: right .2s ease-in-out;
}
main{
    height: 100vh;
}