* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid #919191;
    background: #3b0b0b;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .Logo {
    width: 150px;
    background: #3b0b0b;
    display: flex;
    align-items: center;
}
header .Logo img {
    width: 100%;
    height: auto;
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #919191;
    font-weight: bold;
    font-size: 1.1rem;
    display: inline-block;
    transition: all 0.3s ease;
}
nav a:hover {
    transform: scale(1.15);
    color: #56f52f;
    text-shadow: 2px 2px 5px rgba(179, 179, 179, 0.596);
}

body {
    background-color: #3b0b0b;
    min-height: 150vh; /* Altura extra para poder ver el efecto */
}

/* --- GRID Principal --- */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    border: 2px solid #919191; 
    background: #3b0b0b;
    margin-top: 20px;
    min-height: 600px;
}

.texto-area {
    border: 1px solid #999;
    padding: 20px;
    color: #56f52f;
}
.texto-area h1 {
    font-size: 2.5rem;
    margin-bottom: 20px; 
    color: #919191;
}

/* --- Area del Efecto Parallax --- */
.parallax-area {
    position: relative; /* Necesario para mover elementos absolutos dentro */
    border: 1px solid #999;
    min-height: 500px;
    overflow: hidden;
}

.alanWake {
    width: 120px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10; /* Asegura que esté por encima de otros elementos */
}
.scratch {
    width: 180px;
    position: absolute;
    bottom: 20px;
    right: 20px; 
}
.alanWake img, .scratch img {
    width: 100%;
    height: auto;
    display: block;
}

/* --- FOOTER --- */
footer {
    border: 2px solid #919191;
    margin-top: 20px;
    padding: 20px;
    background: #3b0b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-texto {
    font-size: 0.9rem;
    color: #56f52f;
}

.redes-sociales {
    display: flex;
    gap: 10px;
}

.iconos {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.iconos img {
    width: 100%;
    height: 100%;
    object-fit: contain; /*Ajusta las Imagenes son Recortarlas ni modificarlas*/
}