* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.contenedor_grid {
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "uno uno dos tres tres"
    "uno uno cuatro cuatro cuatro"
    "cinco seis seis seis seis"
    "siete ocho ocho ocho nueve"
    "diez once doce trece nueve"
    "catorce catorce catorce catorce catorce";
}

.contenedor_grid div {
    border: 2px solid black;
    font-size: 30px;
}

.elemento-1 {
    background-color: crimson;
    grid-area: uno;
}

.elemento-2 {
    background-color: peru;
    grid-area: dos;
}

.elemento-3 {
    background: darkgoldenrod;
    grid-area: tres;
}

.elemento-4 {
    background: chocolate;
    grid-area: cuatro;
}

.elemento-5 {
    background: darkgreen;
    grid-area: cinco;
}

.elemento-6 {
    grid-area: seis;
    background-color: rebeccapurple;
}
.elemento-7 {
    grid-area: siete;
    background-color: yellowgreen;
}
.elemento-8 {
    grid-area: ocho;
    background-color: gray;
}
.elemento-9 {
    grid-area: nueve;
    background-color: black;
    color: white;
}
.elemento-10 {
    grid-area: diez;
    background-color: blueviolet;
}
.elemento-11 {
    grid-area: once;
    background-color: purple;
}
.elemento-12 {
    grid-area: doce;
    background-color: pink;
}
.elemento-13 {
    grid-area: trece;
    background-color: royalblue;
}
.elemento-14 {
    grid-area: catorce;
    background-color: firebrick;
}

/*@media (max-width: 400px) {
.contenedor_grid{
    grid-template-areas: 
    "uno"
    "dos" 
    "tres" 
    "cuatro" 
    "cinco" 
    "seis";
    }
}*/